trigger:
- master

pool:
  vmImage: 'windows-latest'

schedules:
- cron: "0 12 * * 0"
  displayName: Weekly Monday build
  branches:
   include:
   - main
  always: true

steps:
- task: CredScan@2
  inputs: 
    toolMajorVersion: 'V2'
- task: Semmle@1
  env: 
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
  inputs:
    sourceCodeDirectory: '$(Build.SourcesDirectory)'
    language: 'python'
    querySuite: 'Recommended'
    timeout: '1800'
    ram: '16384'
    addProjectDirToScanningExclusionList: true
- task: ComponentGovernanceComponentDetection@0
  inputs:
    scanType: 'Register'
    verbosity: 'Verbose'
    alertWarningLevel: 'High'
- task: PublishSecurityAnalysisLogs@2
  inputs: 
    ArtifactName: 'CodeAnalysisLogs'
    ArtifactType: 'Container'
    AllTools: true
    ToolLogsNotFoundAction: 'Standard'
